body{
    background-image: url('bg/Hu7cO08-stormy-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: background-image 1s ease-in-out;
    
}
.fristBox{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.date{
    margin-top: 10px;
    align-items: start;
}
.time,.day{
    margin-bottom: 2px;

}
.day{
    margin-left: 5px;
}
.bi-plus-circle{
    font-size: 25px;
    
    
}
.bi-plus-circle::before{
    transition: transform 0.5s ease-in;

}
.rotate-0::before {
    transform: rotate(0deg);
}
.rotate-43::before {
    transform: rotate(43deg);
    transition: transform 0.5s ease-in;
}
.plus{
    min-height: max-content;
    width: max-content;
}

.secoundBox{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.input-group{
    width: 90%;
    opacity: 0;
    transition: all 1s ease-in-out;
    pointer-events: none;  
    transform: translatex(-150%);

}
.show{
    opacity: 1;
    transform: translatex(0);
    pointer-events:all; 
    
}
.form-control:focus {
 box-shadow: none;
 
}
.btn{
    padding: 0;
}
.btn img{
    height: 17px;
    width: 16px;
}
.weather{
    width: max-content;
    text-align: center;
    background-color: transparent!important;
    color: white;
    border: 1px solid white !important;
}
.city{
    background-color: transparent!important;
    color: white;
    border: 1px solid white !important;
    margin: 10px;
}
.citycard{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    
}
.card-img-top{
    height: 150px;
    width: 150px;
}

@media (min-width:769px){

body{
    display: flex;
    max-height: 100vh;
}
.plus{
    display: none;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 20px;
}
.secoundBox{
    margin-top: 0;
    width: 40%;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.432);
    justify-content: space-around;
}
.input-group{
    margin-top: 9px;
    opacity: 1;
    transform: translatex(0);
    pointer-events:all; 
}
.citycard{
    padding: 6px;
}
.card-img-top {
    height: 130px;
    width: 130px
}
.point p{
    margin-bottom: 7px;
}
.city{
    height: max-content;
    margin: 10px;
}
}