body{
    background-image: url('bg/Hu7cO08-stormy-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: background-image 1s ease-in-out;
    height: 100vh;
    
}

.fristBox{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.date{
    margin-top: 10px;
    align-items: start;
}
.time,.day{
    margin-bottom: 2px;

}
.day{
    margin-left: 5px;
}
.bi{
    font-size: 25px;
    
    
}
.bi-plus-circle::before{
    transition: transform 0.5s ease-in;

}
.rotate-0::before {
    transform: rotate(0deg);
}
.rotate-43::before {
    transform: rotate(43deg);
    transition: transform 0.5s ease-in;
}
.plus{
    min-height: max-content;
    width: max-content;
}

.secoundBox{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.input-group{
    width: 90%;
    opacity: 0;
    transition: all 1s ease-in-out;
    pointer-events: none;  
    transform: translatey(-150%);

}
.show{
    opacity: 1;
    transform: translatex(0);
    pointer-events:all; 
    
}
.form-control:focus {
 box-shadow: none;
 
}
.btn{
    padding: 0;
}
.btn img{
    height: 17px;
    width: 16px;
}
.weather{
    width: max-content;
    text-align: center;
    background-color: transparent!important;
    color: white;
    border: 1px solid white !important;
}
.city{
    background-color: transparent!important;
    color: white;
    border: 1px solid white !important;
    margin: 25px 0;
}
.citycard{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
.main{
    position: relative;
    display: flex;
    justify-content: center;
    
}
.suggestion{
    width: 90%;
    color: black;
    height: 150px;
    position: absolute;
    overflow-y: scroll;
    top: 39px;
    z-index: 1;
    display: none;
    
}
.suggestion ul{
    background-color: rgb(250, 246, 246);
    list-style: none;
    padding: 0px 11px;
}
.suggestion ul li{
    font-weight: 300;
    padding: 2px;
    
}
.suggestion ul li:hover{
    background-color: rgb(63, 245, 245);
}
.focused{
    background-color: aquamarine;
    
}
.sug:hover{
    background-color: aquamarine;
}
::-webkit-scrollbar {
    width: 5px;
  }
.show3{
    display: block;
}


.card-img-top{
    height: 150px;
    width: 150px;
    transition: all 1s ease-in-out;
}
.point p{
    margin-bottom: 5px;
}
.err{
    box-shadow: rgb(255, 0, 0) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border: 0.5px solid red;
}

@media (min-width:769px){

body{
    display: flex;
    max-height: 100vh;
    
}
.bi-plus-circle{
    display: none;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 20px;
    font-size: 47px;
}
.time{
    font-size: 45px;
}
.secoundBox{
    margin-top: 0;
    width: 40%;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.432);
    justify-content: space-around;
}
.input-group{
    margin-top: 9px;
    opacity: 1;
    transform: translatex(0);
    pointer-events:all; 
    
}
.citycard{
    padding: 6px;
}
.card-img-top {
    height: 130px;
    width: 130px
}
.point p{
    margin-bottom: 7px;
}
.city{
    height: max-content;
    margin: 10px;
}
.suggestion{
    
    top: 47px;
}
}